Source: ros-humble-hri
Section: misc
Priority: optional
Maintainer: Séverin Lemaignan <severin.lemaignan@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), libcv-bridge-dev, libgeometry-msgs-dev, libopencv-dev, libsensor-msgs-dev, libstd-msgs-dev, libtf2-dev, libtf2-ros-dev, python3-cv-bridge, python3-geometry-msgs, python3-sensor-msgs, python3-std-msgs, python3-tf2, python3-tf2-ros, ros-geometry-msgs, ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-hri-msgs, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-sensor-msgs, ros-std-msgs, ros-humble-ros-workspace
Homepage: http://wiki.ros.org/hri
Standards-Version: 3.9.2

Package: ros-humble-hri
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcv-bridge-dev, libgeometry-msgs-dev, libopencv-dev, libsensor-msgs-dev, libstd-msgs-dev, libtf2-dev, libtf2-ros-dev, python3-cv-bridge, python3-geometry-msgs, python3-sensor-msgs, python3-std-msgs, python3-tf2, python3-tf2-ros, ros-geometry-msgs, ros-humble-hri-msgs, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-sensor-msgs, ros-std-msgs, ros-humble-ros-workspace
Description: A wrapper library around the ROS4HRI ROS topics
