Source: ros-humble-pyhri
Section: misc
Priority: optional
Maintainer: Luka Juricic <luka.juricic@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), libcv-bridge-dev <!nocheck>, libgeometry-msgs-dev, libgeometry-msgs-dev <!nocheck>, libsensor-msgs-dev <!nocheck>, libstd-msgs-dev <!nocheck>, python3-cv-bridge <!nocheck>, python3-geometry-msgs, python3-geometry-msgs <!nocheck>, python3-numpy <!nocheck>, python3-opencv <!nocheck>, python3-sensor-msgs <!nocheck>, python3-std-msgs <!nocheck>, ros-geometry-msgs, ros-geometry-msgs <!nocheck>, ros-humble-ament-cmake, ros-humble-ament-cmake-pytest <!nocheck>, ros-humble-ament-cmake-python, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-builtin-interfaces, ros-humble-hri, ros-humble-hri-msgs <!nocheck>, ros-humble-pybind11-vendor, ros-humble-rclcpp, ros-humble-tf2-ros-py <!nocheck>, ros-sensor-msgs <!nocheck>, ros-std-msgs <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-pyhri
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeometry-msgs-dev, python3-geometry-msgs, ros-geometry-msgs, ros-humble-builtin-interfaces, ros-humble-hri, ros-humble-rclcpp, ros-humble-ros-workspace
Description: A python wrapper around hri package
